<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
				xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd			
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
			http://www.springframework.org/schema/data/neo4j
			http://www.springframework.org/schema/data/neo4j/spring-neo4j-2.0.xsd">
            
    	<context:annotation-config/>
    	<context:spring-configured/>
		<tx:annotation-driven />
		<context:component-scan base-package="com.alexander.maven.archetypes.domain.graph"/>

<!--		 	<neo4j:config storeDirectory="target/data/graph.db"/>-->
		<neo4j:config graphDatabaseService="graphDatabaseService"/>
    		<bean id="graphDatabaseService" class="org.neo4j.kernel.EmbeddedGraphDatabase" destroy-method="shutdown">
				<constructor-arg value="data/graph.db"/>
   		</bean>
           <!-- 
		<bean id="neo4jTransactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
			<property name="transactionManager">
				<bean class="org.neo4j.kernel.impl.transaction.SpringTransactionManager">
					<constructor-arg ref="graphDatabaseService"/>
				</bean>
			</property>
		</bean>
		         -->    
            <bean id="personDao" class="com.alexander.maven.archetypes.domain.ListPersonDaoImpl" />
            
			<bean id="controller" class="com.alexander.maven.archetypes.controllers.PersonController">
           		<property name="personDao" ref="personDao"/>
			</bean>
			

</beans>