<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jaxws="http://cxf.apache.org/jaxws"
		xmlns:cxf	= "http://cxf.apache.org/core"		
		xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
			http://www.springframework.org/schema/aop 					http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
			http://www.springframework.org/schema/tx 					http://www.springframework.org/schema/tx/spring-tx-2.0.xsd		
			http://cxf.apache.org/jaxws 								http://cxf.apache.org/schemas/jaxws.xsd
			http://cxf.apache.org/core									http://cxf.apache.org/schemas/core.xsd">
            
            <!-- <import resource="classpath:cxf-servlet.xml" />-->
            	<cxf:bus>
		<cxf:features>
			<cxf:logging limit="1024000" />
		</cxf:features>
	</cxf:bus>
            <bean id="personDao" class="com.alexander.maven.archetypes.domain.ListPersonDaoImpl" />
            
			<bean id="controller" class="com.alexander.maven.archetypes.controllers.PersonController">
           		<property name="personDao" ref="personDao"/>
			</bean>
			
			<bean id="passwordCallbackBean" class="com.alexander.maven.archetype.ws.cxf.server.PasswordCallback"/>
			
			<bean id="hello" class="com.alexander.maven.archetype.ws.cxf.server.HelloServiceImpl" />
			
			<jaxws:endpoint id="helloService" implementor="#hello" address="/HelloService">
				<jaxws:inInterceptors>
					<bean class="org.apache.cxf.binding.soap.saaj.SAAJInInterceptor" />
					<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
						<constructor-arg>
							<map>
								<entry key="action" 			value="UsernameToken"/>
								<entry key="passwordType" 		value="PasswordText"/>
								<entry key="passwordCallbackRef">
									<ref bean="passwordCallbackBean"/>
								</entry>
							</map>
						</constructor-arg>
					</bean>
				</jaxws:inInterceptors>
				
			</jaxws:endpoint>
</beans>